{{> header}}


<h1>Login</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" value="" placeholder="password">
  <button type="submit" name="button">login</button>
</form>


{{> footer}}
